

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
body {background: #B6B1A6;	}   

a, a:hover{

}   
   
.nav{
font-family: "jaf-facitweb",sans-serif;
 font-weight:300;
     font-style:normal;
     text-transform: uppercase;
     font-size: 16px;
     background-color: rgba(157, 201, 212, .10);
}


.navbar .navbar-inner {
background-color: #E2665D;
background-image: none;
border: none;
}

img.twitter{
max-width: 25px;
height: auto;
margin-top: -5px;

}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
{
background-color: #B6B1A6;
color:#fff;
text-shadow: 0 1px 0 #777;
}

.navbar .nav > li > a
{
color:#fff;
text-shadow: 0 1px 0 #777;
}

*:focus  
{  
     outline: none;  
}



.hero-unit {
text-align: center;
  background-color: #000000;
    -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
height: auto;
margin-bottom: 0px;

background: url(../img/header.jpg) no-repeat center center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
color: #ffffff;
}


.row {
 text-align: center;
}

.spacer{
margin-top: 2.25em;
margin-bottom: 2.25em;


}

#attendees{

background-color: #F9F4EF;
}

#venue{
padding:0;

	background-color: #F9F4EF;	
}

#about{
height: 800px;
padding:0;


}

.date{	
  	font-style: normal;
    font-weight: 400;
    font-family: bello-pro;
    font-size: 81px;
    line-height: 1em;
    text-align: center;
    }
    
    
    

.hero-unit h1 {
	 margin: 150px 10px 0px 10px;
   	 font-size: 11.391em;
     text-align: center;
 	 font-family: "quatro-slab",serif;
     font-weight:900;
     font-style:normal;
  
     
 }
 
 
 .script {
	  	font-style: normal;
    font-weight: 400;
    font-family: bello-pro;
    font-size: 54px;
    line-height: 1.5em;
    text-align: center;
    }
 
 

h2 {
    font-style: normal;
    font-weight: 700;
    font-family: quatro-slab;
    font-size: 24px;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: .132em;
    padding-top: 40px;

}


h3 {
    font-size: 36px;
    line-height: 1em;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-family: quatro-slab;
    letter-spacing: 1px;
    margin-top: 25px;
 }


p {
text-align: left;
 margin-bottom: 0px;
    font-style: normal;
    font-weight: 400;
    font-family: "jaf-facitweb",sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

.subcaption {
    font-size: 13px;
    line-height: 1.5em;
}


.ticketing{	
  	font-style: normal;
    font-weight: 400;
    font-family: bello-pro;
    font-size: 24px;
    line-height: 1.5em;
    text-align: center;
    }

/**
 * design shack - Use Pseudo Elements to Create an Image Stack Illusion
 */



div[class*='stack'] {
	
	position: relative;
	margin-bottom: 60px;
	margin-left: 75px;
}

div[class*='stack'], div[class*='stack']:before, div[class*='stack']:after {
	border: 6px solid #fff;
	height: 267px; width: 400px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
 
div[class*='stack']:before, div[class*='stack']:after {
	background: #768590;
	content: "";
	position: absolute;
	z-index: -1;
	
	/*Dirty IE8 hack*/	
	height: 0px\9; width: 0px\9; 
	border: none\9;
}
 
div[class*='stack']:before {
	background: #eff4de;
}

 
/*STACK THREE*/
.stackthree:before {
	top: 5px;
	left: -15px;
	z-index: -1;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
 
.stackthree:after {
	top: -2px;
	left: -10px;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.quotes{
margin-top: 5.063em;
margin-bottom: 2.25em;
}

blockquote {
text-align: left;
border: none;
text-indent:-0.5em;
font-family: "quatro-slab",serif;
font-style: italic;
font-weight: 400;
}

blockquote small{
font-style: normal;
text-align: right;
color:#F9F4EF;
}

.footer{
margin: 25px;
text-align: center;	
}



.framed, .framed img {
  width:145px;
  height:145px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  }

.picture {
  position: relative;
  }
  
.mask {
  background: url('../img/mask.png') no-repeat;
  position: absolute;
  left:0; top:0;
  }
  
  
  .shadow {
  background:transparent url(../img/map3.png) no-repeat center;
height:400px;
width:400px;
  
-moz-box-shadow:inset 0px 24px 8px #333; /* FF3.5+ */
-webkit-box-shadow:inset 100px 100px 800px #000; /* Saf3.0+*/
box-shadow:inset 2px 2px 10px #333; /* Opera 10.5, IE 9 */

-moz-border-radius: 300px; /* FF1+ */
-webkit-border-radius: 300px; /* Saf3-4 */
border-radius: 300px; /* Opera 10.5, IE 9, Saf5, Chrome */
}
  
  
  
  
.navbar .nav > li > a {
  float: none;
  vertical-align: middle;
}


.popover.bottom {
  margin-top: -75px;
}


.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  
}

.modal.fade {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#myModalLabel{
text-align: left;
}

#myModalLabel img{
margin-right: 20px;
}

img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
	img.bg {
		left: 50%;
		margin-left: -512px;   /* 50% */
	}
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

.navbar-fixed-top {
top: 0px;
margin-bottom: 0px;
width: auto;
position: fixed;

}

.navbar .navbar-inner {
padding: 0px;
}

.hero-unit {
text-align: center;
  background-color: #000000;
    -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
height: 600px;
margin-bottom: 0px;

background: url(../img/header.jpg) no-repeat center center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
color: #ffffff;
}


.hero-unit h1 {
	 margin: 150px 10px 0px 10px;
   	 font-size: 623.077%;
     text-align: center;
 	 font-family: "quatro-slab",serif;
     font-weight:900;
     font-style:normal;
  
 }
 
 .date{	
  	font-style: normal;
    font-weight: 400;
    font-family: bello-pro;
    font-size: 415.385%;
    line-height: 1em;
    text-align: center;
    }


h3 {
    font-size: 276.923%;
    line-height: 1em;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-family: quatro-slab;
    letter-spacing: 1px;
    margin-top: 25px;
 }

 .script {
	  	font-style: normal;
    font-weight: 400;
    font-family: bello-pro;
    font-size: 2.25em;
    line-height: 1.5em;
    text-align: center;
    }
 
 .ticketing{	
margin-top: 0.667em;
    } 
    
     .spacer{
margin-top: 0px;
 }
 
#attendees {
background-color: #F9F4EF;
margin: 0px;
padding: 0px;
}
 
.shadow {
height: 250px;
width: 250px;
} 
 
.carousel-control{
 display: none;
}


div[class*='stack'] {
	
	position: relative;
	margin-bottom: 60px;
	margin-left: -50px;
}




 }
 
 
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

body{
padding:0px;

}

.container{
margin: 0px 15px;
}

.navbar-fixed-top {
top: 0px;
margin-bottom: 0px;

position: fixed;

}

.nav{

     font-size: 0.667em;


}



.navbar .navbar-inner {
padding: 0px;
}

.hero-unit {
text-align: center;
  background-color: #000000;
    -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
height: 200px;
margin-bottom: 0px;

background: url(../img/header.jpg) no-repeat center center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
color: #ffffff;


}


.hero-unit h1 {
	 margin: 25px 0px 0px 0px;
   	 font-size: 276.923%;
     text-align: center;
 	 font-family: "quatro-slab",serif;
     font-weight:900;
     font-style:normal;
     padding:0px;
  
 }
 
 .script {
	  	font-style: normal;
    font-weight: 400;
    font-family: bello-pro;
    font-size: 2.25em;
    line-height: 1.5em;
    text-align: center;
    }
 
 

.date{	
  	font-style: normal;
    font-weight: 400;
    font-family: bello-pro;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
    }


h3 {
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-family: quatro-slab;
    letter-spacing: 1px;
    margin-top: 25px;
 }

 .script {
	  	font-style: normal;
    font-weight: 400;
    font-family: bello-pro;
    font-size: 1.75em;
    line-height: 1.5em;
    text-align: center;
    }
    
.subcaption {
margin-top: 0.667em;
}
 
 .spacer{
margin-top: 0px;
 }
 
#attendees {
background-color: #F9F4EF;
margin: 0px;
padding: 0px;
}
 
 
.ticketing{	
margin-top: 0.667em;
    } 
 

 
.shadow {
display: none;
} 
 
.carousel-control{
 display: none;
}

div[class*="stack"], div[class*="stack"]::before, div[class*="stack"]::after {
display: none;

}



}




 
/* Landscape phones and down */
@media (max-width: 480px) { 


} 

















